@charset "UTF-8";

h1 {
  font-size:30px;
  font-family: 궁서체;
  word-spacing: 15px;
}

.ita{
  font-style:italic;
}

.bold{
  font-weight: bold;
}

.blue{
  color: #0000FF
}

.red{
  color: #FF0000
}

.green{
  color: #00FF00
}

h2+h3{
  color: #00FF00;

}

h2~h3:not(#history){
  text-decoration: underline;
}

div {
  background-color: #D9D9D9;
}

div p{
  text-indent: 30px;
}

ul {
  list-style: square;
}

ol>li {
  list-style: none;
}

.e1:before{
  content: "1.";
}

.e2:before{
  content: "2.";
}

.e3:before{
  content: "3.";
}

.e4:before{
  content: "4.";
}

thead{
  background-color: #C8EBFA;
}

tbody tr:hover {
  background-color: #EDD3ED;
}

tbody a:link {
  color: #000000;
  text-decoration: none;
}

tbody a:hover {
  color: #0000FF;
  text-decoration: underline;
}

tbody a:visited {
  color: #000000
}

tbody a:active {
  color:#0000FF;
  text-decoration: underline;
}