<!DOCTYPE html>

<html>

  <head lang="kor">

    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../assets/css/common.css">

    <link rel="stylesheet" href="../../assets/css/gallery.css">


    <title>mysite0</title>

  </head>

  <body>
    
    <div id="wrap"><!--wrap-->

      <div id="header" class="clearfix"><!--header-->
       
        <h1><a href="../main/main.html">MySite</a></h1><!--사이트로고-->
        
        <ul class="clearfix">

          <li><a href="">로그인</a></li>
          <li><a href="../user/join.html">회원가입</a></li>

        </ul>

      </div><!--//header-->

      <div id="nav" class="clearfix"><!--nav-->
       
        <ul>

          <li><a href="../info/info.html">입사지원서</a></li>
          <li><a href="../gallery/gallery.html">갤러리</a></li>
          <li><a href="../board/list.html">게시판</a></li>
          <li class="last"><a href="../guestbook/guestbook.html">방명록</a></li>

        </ul>
      
      </div><!--//nav-->

      <div id="contents" class="clearfix"><!--contents-->

        <div id="aside"><!--aside-->
          
            <h2>갤러리</h2>

            <ul>

              <li><a href="../gallery/gallery.html">내 사진</a></li>
              <li><a href="../gallery/">일상</a></li>
              <li><a href="../gallery/">기타</a></li>

            </ul>
        
      </div><!--//aside-->

        <div id="main" class="clearfix"><!--main-->

          <div id="main-head" class="clearfix"><!--main-head-->
           
            <h3>

              내 사진
        
            </h3>

            <ul class="clearfix">

              <li>홈</li>
              <li>갤러리</li>
              <li class="last">내 사진</li>

            </ul>

          </div><!--//main-head-->

        <div id="main-body"><!--main-body-->

          <!--이 밑으로 코딩 할 것-->


          <img src="../../assets/img/jung2.jpg" class="image">

          <img src="../../assets/img/jung3.jpg" class="image">

          <img src="../../assets/img/jung4.jpg" class="image">

         

        






        </div><!--//main-body-->

      </div><!--//main-->
      
    </div><!--//contents-->

      <div id="footer"><!--footer-->
        
        <p>Copyright ©2021 김영하. All right reserved</p>
      
      </div><!--//footer-->

    
    </div><!--//wrap-->


  </body>

</html>