<!DOCTYPE html>

<html lang="kor">

  <head>

    <meta charset="UTF-8">

    <title>mysite0</title>

    <link rel="stylesheet" href="../../assets/css/common.css">

    <link rel="stylesheet" href="../../assets/css/main.css">

  </head>

  <body>

    <div id="wrap"><!--wrap-->

      <div id="header" class="clearfix"><!--헤더-->
       
        <h1><a href="">MySite</a></h1><!--사이트로고-->
        
        <ul class="clearfix">

          <li><a href="">로그인</a></li>
          <li><a href="../user/join.html">회원가입</a></li>

        </ul>

      </div><!--//헤더-->

      <div id="nav" class="clearfix"><!--네비-->
       
        <ul>

          <li><a href="../info/info.html">입사지원서</a></li>
          <li><a href="../gallery/gallery.html">갤러리</a></li>
          <li><a href="../board/list.html">게시판</a></li>
          <li class="last"><a href="../guestbook/guestbook.html">방명록</a></li>

        </ul>
      
      </div><!--//네비-->

      <div id="full-contents" class="clearfix"><!--컨텐츠-->

        <img id="profile" src="../../assets/img/jung.jpg">

        <div id="greeting"><!--인사말-->

          <p id="greet">
            안녕하세요!<br>
            김영하의 Mysite에 오신 것을 환영합니다.
          </p>
          
          <p id="description">
            사이트 소개는 업성.<br>
            메뉴는 피자, 햄버거, 치킨 중에 고르세요<br>
            자바 수업 데이터베이스 수업 웹프로그래밍 수업 어려웡
            반가워요<br>
            <br>
            아무거나써봐<br>
            <br>
            <a href="../board/post.html">[방명록에 글쓰기]</a>
          </p>

        </div><!--//인사말-->

      </div><!--//컨텐츠-->

      <div id="footer"><!--푸터-->
        
        <p>Copyright ©2021 김영하. All right reserved</p>
      
      </div><!--//푸터-->

    
    </div><!--//wrap-->

  </body>

</html>