@charset "UTF-8";

  #form {
    width: 700px;
  }

  .form-text {
    padding: 10px;
    border-top: 1px solid #e6e6e6;
  }

  #firstline {
    border-top: none;
  }

  .form-group {
    width: 80px;
    display: inline-block;
  }

  #form-prof {
    width: 80px;
    display: inline-block;
    float: left;
  }

  #txt-uid, #pw-upw, #txt-name {
    width: 150px;
  }

  #txt-adr{
    width: 120px;
    display: inline-block;
  }

  #txt-adrd{
    margin: 5px 0px 0px 80px;
    width: 300px;
    display: block;
  }

  #area-content{
    width: 380px;
    height: 150px;
  }

  .button-area {
    padding: 10px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
   }

   .button-area>button {
    width: 60px;
    padding: 5px;
   }

 #add1 {
   float: left;
 }