<!DOCTYPE html>

<html>

  <head lang="kor">

    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../assets/css/common.css">

    <link rel="stylesheet" href="../../assets/css/guestbook.css">


    <title>mysite0</title>

  </head>

  <body>
    
    <div id="wrap"><!--wrap-->

      <div id="header" class="clearfix"><!--header-->
       
        <h1><a href="../main/main.html">MySite</a></h1><!--사이트로고-->
        
        <ul class="clearfix">

          <li><a href="">로그인</a></li>
          <li><a href="../user/join.html">회원가입</a></li>

        </ul>

      </div><!--//header-->

      <div id="nav" class="clearfix"><!--nav-->
       
        <ul>

          <li><a href="../info/info.html">입사지원서</a></li>
          <li><a href="../gallery/gallery.html">갤러리</a></li>
          <li><a href="../board/list.html">게시판</a></li>
          <li class="last"><a href="../guestbook/guestbook.html">방명록</a></li>

        </ul>
      
      </div><!--//nav-->

      <div id="contents" class="clearfix"><!--contents-->

        <div id="aside"><!--aside-->
          
            <h2>방명록</h2>

            <ul>

              <li><a href="../gallery/gallery.html">회원 방명록</a></li>
              <li><a href="../gallery/">비회원 방명록</a></li>
              <li><a href="../gallery/">익명 방명록</a></li>

            </ul>
        
      </div><!--//aside-->

        <div id="main" class="clearfix"><!--main-->

          <div id="main-head" class="clearfix"><!--main-head-->
           
            <h3>

              회원 방명록
        
            </h3>

            <ul class="clearfix">

              <li>홈</li>
              <li>방명록</li>
              <li class="last">회원 방명록</li>

            </ul>

          </div><!--//main-head-->

        <div id="main-body"><!--main-body-->

          <!--이 밑으로 코딩 할 것-->

          <div id="board"><!--board-->

            <div id="search-area" class="clearfix"><!--search-area-->

              <form action="#" method="GET">
                
                <input type="text" name="keyword" value="">

                <button type="submit">검색</button>
                
              </form>

            </div><!--//search-area-->

            <div id="board-list"><!--board list-->

                <table>

                  <colgroup>
                    <col style: width="30px">
                    <col style: width="100px">
                    <col style: width="50px">
                    <col style: width="50px">
                    <col style: width="50px">
                    <col style: width="30px">
                  
                  </colgroup>
                  
                  <thead>

                    <tr>

                      <th>번호</th>
                      <th>제목</th>
                      <th>글쓴이</th>
                      <th>조회수</th>
                      <th>작성일</th>
                      <th>&nbsp;</th>

                    </tr>

                  </thead>

                  <tbody>

                    <tr>

                      <td>1234</td>
                      <td>ㅎㅇㅎㅇ</td>
                      <td>제니</td>
                      <td>0</td>
                      <td>2021-05-17</td>
                      <td class="delete">삭제</td>

                    </tr>

                    <tr>

                      <td>1235</td>
                      <td>ㅎㅇ</td>
                      <td>사나</td>
                      <td>4</td>
                      <td>2021-05-17</td>
                      <td class="delete">삭제</td>

                    </tr>

                    <tr>

                      <td>1236</td>
                      <td>반가워</td>
                      <td>수지</td>
                      <td>2</td>
                      <td>2021-05-17</td>
                      <td class="delete">삭제</td>

                    </tr>

                  </tbody>

                </table>

              </div><!--board-list-->

              <div id="pagination" class="clearfix"><!--pagination-->

                <ol class="clearfix">
                  <li><a href="">◀</a></li>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                  <li><a href="" class="active">6</a></li>
                  <li><a href="">7</a></li>
                  <li><a href="">8</a></li>
                  <li><a href="">9</a></li>
                  <li><a href="">10</a></li>
                  <li><a href="">▶</a></li>  
                </ol>

                <a href="../board/post.html" id="btn-write">글쓰기</a>

              </div><!--//pagination-->

         </div><!--//board-->
        

        </div><!--//main-body-->

      </div><!--//main-->
      
    </div><!--//contents-->

      <div id="footer"><!--footer-->
        
        <p>Copyright ©2021 김영하. All right reserved</p>
      
      </div><!--//footer-->

    
    </div><!--//wrap-->


  </body>

</html>